<div class="card" style="width: 18rem;">
    <div class="center">
        <img src="../assets/img/logo tecnm cuautla.png" class="card-img-top" alt="..." style="width:150px;height:140px;" >
    </div>

    <div class="card-body">
        <div class="card-header">
            <h5 class="card-title">INFO. ESTUDIANTIL</h5>
        </div>
        <p class="card-text">No.Control:  19680108</p>
        <p class="card-text">Correo electronico: 19680108@cuautla.tecnm.mx.</p>
        <p class="card-text">Carrera: Ing. Sistemas Computacinales</p>
        <p class="card-text">Semestre:  8vo.</p>
    </div>
</div>
