.card{
    border: 5px solid rgb(50, 238, 59);
}

.center{
    text-align: center;
    background-color: rgb(75, 111, 228);
}

.card-img-top{
    background-color: bisque;
}

.card-body{
    background-color: rgb(91, 233, 98);
}

.card-title{
    background-color: rgb(245, 233, 69);
}

.card-header{
    background-color: rgb(211, 236, 64);
}