
<div class="card" style="width: 18rem;">
    <div class="center">
        <img src="../assets/img/img2.jpg" class="card-img-top" alt="..." style="width:150px;height:140px;" >
    </div>

    <div class="card-body">
        <div class="card-header">
            <h5 class="card-title">Gustos personales</h5>
        </div>
        <p class="card-text">Deporte favorito:  Fútbol</p>
        <p class="card-text">Animal favorito: Tigre.</p>
        <p class="card-text">Lugar favorito: Rios</p>
        <p class="card-text">Personas favoritas:  Familia</p>
        <p class="card-text">Videojuegos: Call Of Duty</p>
    </div>
</div>
