.tittle{
    text-align: center;
    color: rgb(55, 224, 12);
    font-size:larger;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.info{
    margin-top: 100px;
    text-align: center;
}

.img{
    
    display: flex;
    /* Distribuir items uniformemente
    Los items tienen el mismo espacio a su alrededor */
    justify-content: space-around;
    
}
img{
    box-shadow: 0 10px 25px sienna;
}

h2{
    color: rgb(247, 243, 10);
}

h3{
    color: rgb(19, 228, 148);
}
